.profile__edit-button {
  background-image: url('../../../img/edit_button.svg');
  width: 24px;
  height: 24px;
  background-color: black;
  margin-top: 37px;
  transition: .3s;
}

.profile__edit-button:hover {
  opacity: .6;
} 
