.header {
  max-width: 880px;
  margin: 0 auto 36.25px auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  .header {
    max-width: 320px;
    margin-bottom: 38.25px;
  }
}
