.elements__like-button {
  background-color: white;
  background-image: url('../../../img/like-button.svg');
  width: 22px;
  height: 19px;
  margin: 30px 20px auto 0;
  transition: .3s;
}

.elements__like-button:hover {
  opacity: .6;
}

.elements__like-button:focus {
  background-image: url('../../../img/like-button-enabled.svg');
}
