.popup__title {
  margin: 34px 64px 43px 14px;
  padding: 0;
  color: black;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

@media screen and (max-width: 500px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 30px 75px auto;
  }
}
